@{
    ViewData["Title"] = "عدم دسترسی";
}

<div class="text-center mt-5">
    <h2 class="text-danger">⛔ شما به این بخش دسترسی ندارید</h2>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">بازگشت به صفحه اصلی</a>
</div>